[run]
;; measure branch coverage
branch = True
;; parallell = True


[report]
;; Regexes for lines to exclude from consideration
exclude_lines =
    ;; Have to re-enable the standard pragma
    pragma: no cover
    pragma: nocover

    ;; Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    ;; Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    ;; Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

omit =
    setup.py
    tasks.py
    tests/conftest.py

ignore_errors = True

[html]
;; html report
title = pydeps coverage
